<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: html_head">
    <title id="pageTitle">Pokaż pojazdy</title>
</head>
<body>
<div th:replace="fragments :: navbar"></div>
<section id="main">
    <div class="inner">
        <section>
            <h3>Vehicle Manager</h3>
            <a href="/new">Create New Vehicle</a>
            <div class="table-wrapper">
                <table class="alt">
                    <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Car body style</th>
                        <th>Year of manufacture</th>
                        <th>Color</th>
                        <th>Register number</th>
                        <th>Mileage</th>
                        <th>Status</th>
                        <th>Price per day</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="vehicle : ${listVehicles}">
                        <td th:text="${vehicle.id}">Product ID</td>
                        <td th:text="${vehicle.brand}">Brand</td>
                        <td th:text="${vehicle.model}">Model</td>
                        <td th:text="${vehicle.carBodyStyle}">Car body style</td>
                        <td th:text="${vehicle.yearOfManufacture}">Year of manufacture</td>
                        <td th:text="${vehicle.color}">Color</td>
                        <td th:text="${vehicle.regNumber}">Register number</td>
                        <td th:text="${vehicle.vehicleMileage}">Mileage</td>
                        <td th:text="${vehicle.status}">Status</td>
                        <td th:text="${vehicle.pricePerDay}">Price per day</td>

                        <td>
                            <a th:href="@{'/edit/' + ${vehicle.id}}">Edit</a>
                            &nbsp;&nbsp;&nbsp;
                            <a th:href="@{'/delete/' + ${vehicle.id}}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</section>


<div th:replace="fragments :: footer">

</div>
</body>
</html>